In [2]:
import pandas as pd
import numpy as np

In [4]:

df=pd.read_csv('finalmockdata.csv')
df

,Unnamed: 0,Time,Unix Time,Trans_Id,Name,Acc Num,Merchant Name,Merchant Acc Name,Amount,Category,Lat,Long,Is_Safe
0,0,2024-01-05 08:15:00,1641383700,TID123459,Bob,23456789012,EntertainmentCo,EC_Account,21.948058,entertainment,34.0522,-118.2437,0
1,1,2024-01-05 12:30:00,1641401400,TID123463,Bob,23456789012,HealthBuddy,HB_Account,355.119064,health_fitness,34.0522,-118.2437,1
2,2,2024-01-05 15:45:00,1641411900,TID123512,Bob,23456789012,HomeHeaven,HH_Account,6.025573,home,34.0522,-118.2437,0
3,3,2024-01-05 19:00:00,1641422400,TID123476,Bob,23456789012,TravelGalaxy,TG_Account,1972.817327,travel,34.0522,-118.2437,1
4,4,2024-01-05 22:15:00,1641432900,TID123456,Bob,23456789012,PetParadise,PP_Account,366.007992,kids_pets,34.0522,-118.2437,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,92,2024-01-15 08:45:00,1642196700,TID123468,Bob,23456789012,PetParadise,PP_Account,456.126034,kids_pets,36.7783,-119.4179,0
93,93,2024-01-15 13:00:00,1642214400,TID123466,Bob,23456789012,HomeHeaven,HH_Account,3.584128,home,39.7392,-104.9903,0
94,94,2024-01-15 16:15:00,1642224900,TID123473,Bob,23456789012,EateriesRUs,ER_Account,4.815544,food_dining,38.9072,-77.0370,1
95,95,2024-01-15 19:30:00,1642235400,TID123530,Bob,23456789012,GroovyGadgets,GG_Account,306.916847,misc,34.0522,-118.2437,0
96,96,2024-01-15 22:45:00,1642245900,TID123549,Bob,23456789012,SuperMart,SM_Account,19.489779,grocery,41.8781,-87.6298,1

In [7]:
import pickle
with open('.\\models\\amount_clusters.pkl') as amount_model:
    model_cluster= pickle.load(amount_model)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte